# Virtual environments
.venv/
env/
venv/

# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code / IDE files
.vscode/
.idea/

# Build & packaging
build/
dist/
*.egg-info/

# Logs and test output
*.log
*.out

# OS files
.DS_Store
Thumbs.db
